.notFound {
  h1 {
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #28266d;
    text-shadow: 1px 1px 1px #e1e1e1;
    text-align: center;
  }

  .contentNotFound {
    display: flex;
    justify-content: center;
  }
}
