.listComentarios {
  .divList {
    border: 1px solid #bdbdbd;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;

    .content-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      strong {
        font-weight: bold;
        padding-right: 5px;
      }
    }
  }
}
