.search {
    margin-bottom: 20px;
    width: 100%;
  
    input[type=text] {
      margin-right: 10px;
      border-radius: 4px;
      border: 1px solid #9f9f9f;
      height: 22px;
      width: 45%;
      padding-left: 5px;

      &:focus {
        outline: none;
      }
    }
  
    input[type=submit] {
      background: #2d1785;
      border: 0;
      height: 26px;
      border-radius: 4px;
      color: #fff;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
    }
  }
  